name: forgotten catacombs ci

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    paths-ignore:
      - 'LICENSE'
      - 'README.md'

jobs:
  test:
    runs-on: ubuntu-latest
    name: Build and Test
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.14.1
      - run: zig build test
